/*
    Links FOr The Awesome Stylin
        ~ Theme COlors: https://coolors.co/001219-005f73-0a9396-94d2bd-e9d8a6-ee9b00-ca6702-bb3e03-ae2012-9b2226
        ~ Color Gradient: https://cssgradient.io/
*/

html, body {
    width:  100%;
    height: 100%;

    background-color: #FAF1DC;

    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

    float: left;
    box-sizing: border-box;

    font-family: Zen Antique;

}

#inner_body {
    width: 1000px;
    height: 500px;

    padding: 30px;

    border-radius: 5px;

    background-color: #FFE2AD;
}

/* question Styles */
#question_container {
    width: 74%;
    height: 100%;

    background-color: #ff3333;
    box-shadow: -7px 7px #001219;
    border-radius: 7px 0 0 7px;

    padding: 15px;
}

#question_inner_container {
    width: 100%;
    height: 100%;
}

#question_header_container {
    width: 100%;
    height: 15%;

    background-color: #fff;
    padding: 8px 15px 8px 15px;
    border-radius: 3px;
}

#question_header_n_hints_container {
    width: 100%;
    height: 50%;
}

#question_header_n_hints {

    font-size: 14px;
    font-weight: 700;
    font-family: Maven Pro;

    color:  #444;
}

#question_header_n_hints.loading {
    width: 35%;
    height: 80%;
    background-color: #F8F9FA;
}

#question_tab_container {
    width: 100%;
    height: 35%;

    display: flex;
    flex-direction: row;
}

.question_tab {

    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1;
    background-color: #DCE0E5;
    color: #002C3D;

    font-family: Maven Pro;
    font-size: 14px;
    font-weight: bold;
}

.question_tab.selected {
    background-color: #FFC65C;
}

.question_tab.correct {
    background-color: #52b788;
    color:  #fff;
}

.question_tab.incorrect {
    background-color: #FA6163;
    color:  #fff;
}

.question_tab.loading {
    flex: 1;
    background-color: #F8F9FA;
}



#question_text_container {
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#question_text {

    font-size: 1.5em;
    font-weight: bold;
    color: #fff;

    line-height: 1.4;
    text-align: center;
}

#question_text.loading {
    width: 100%;
    height: 50%;

    background-color: #F8F9FA;
}

#question_option_container {
    width: 100%;
    height: 45%;

    background-color: #023047;
    cursor: pointer;
}

.question_option {
    width: 100%;
    height: 22%;
    margin-bottom: 2.5%;

    font-weight: bold;
    font-size: 1em;

    color:  #fff;
    border: 1px solid #AE2012;
    background-color: #fff;
    box-shadow: -5px 5px #8ecae6;
}

.option_index {
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFB833;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.option_text {
    width: 85%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #001219;
}


/* Leaderboard styles */
#leaderboard_container {
    width: 26%;
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: #F8F9FA;

    border-radius: 0 7px 7px 0;
    padding: 15px 7.5px 15px 7.5px;
}

#leaderboard_inner_container {
    width: 100%;
    height: 90%;
}

#leaderboard_title_container {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 20px -10px black;
    padding: 8px 15px 8px 15px;
    border-radius: 1px;

    background: linear-gradient(67deg, #8ecae6 50%, #FFCD70 50%);
    margin-bottom: 10px;
}

#leaderboard_title {
    color: #001219;

    font-size: 1.2em;
    font-weight: bold;
    font-family: Maven Pro;

}

#leaderboard_list_container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

}


.leaderboard_list {
    width: 100%;
    height: 33px;

    background-color: #ff3333 ;
    border-bottom: 1px solid #fff;
    box-shadow: inset 0 0 10px -7px #001219;

    display: flex;
    align-items: center;
}

.leaderboard_list.you {

    margin-bottom: 10px;

    border: 1px dashed #4A0D08;
    box-shadow: 0 0 10px -7px #001219;
    background-color: #fff;
    color: #001219;
}


.list_time {
    width: 25%;
    height: 65%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #8ecae6;
    color:  #001219;

    font-family: Maven Pro;
    font-size: 12px;
    font-weight: bold;
}

.list_text {
    width: 65%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-right: 10px;

    text-align: right;
    font-weight: bold;
    font-family: Maven Pro;
    font-size: 11px;
    color: #fff;

    overflow: hidden;
}

.leaderboard_list.you .list_text {
    color: #001219;
}